.padding {
    padding: 10px;
}

.less_line {
    width: 100%;
    display: flex;
    border: 1px solid blue;
    background-color: #e8e8e8;
}
.less_line_left {
    width: 50%;
    display: flex;
}
.less_line_lineNo {
    width: 150px;
    border: 1px solid red;
}
.less_line_tekstPl {
    width: 100%;
    text-align: left;
    border: 1px solid darkblue;
}
.less_line_right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    border: 1px solid greenyellow;
}
.less_line_tekstEn {
    width: 100%;
    text-align: left;
    border: 1px solid lightskyblue;
}
.text_hidden {
    display: none;
}
.less_line_tekstEn:hover .text_hidden { 
    display: block; 
}
.less_line_times {
    width: 150px;
    border: 1px solid red;
}

/* ------------------------------------ */
.lessEffect_line {
    width: 100%;
    background-color: gold;
    border: 1px solid darkblue;
}
.lessEffect_lineNo {
    float:left;
    width:100px;
    border: 1px solid blue;
}
.lessEffect_sentences {
    margin: 0 auto;
    text-align: left;
    display: inline-block;
}
.lessEffect_sentence_pl {
    float: left;
    overflow: auto;
    width: 400px;
    background-color: antiquewhite;
}
.lessEffect_sentence_en {
    float: left;
    width: 400px;
    background-color: azure;
}
.lessEffect_times {
    float: right;
    width: 100px;
    border: 1px solid blue;
}