.App {
  text-align: center;
}

.line {
  width: 100%;
  background-color: #e8e8e8;
}
.lineNo {
  float:left;width:100px;
}
.sentences {
  margin:0 auto;
  text-align: left;
  display: inline-block;
}
.times {
  float: right;
  width:100px;
}
.line-container {
  text-align: left;
  background-color: #e8e8e8;
  display: flex;
  align-items: left;
  margin: 1px;
}

.ui.label.zdanie {
    width: 1150px;
    padding: 10px 20px;
    line-height: 1.5;
    font-size: 1em;
}

.ui.label.translation {
    color: #e8e8e8;
}
.ui.label.translation:hover {
    color: rgba(0, 0, 0, .6);
}

.translation {
  color: white;
}
.ui.card.translation {
  color: white;
}

.translation:hover {
  color: black;
}
.ui.card.translation:hover, .ui.label.translation:hover {
  color: black;
}
